@import './reset.css';

/* 400 */
@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* 500 */
@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* 600 */
@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-SemiBold.woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/* 700 */
@font-face {
  font-family: 'Poppins';
  src: url('./fonts//Poppins-Bold.woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* 400 */
@font-face {
  font-family: 'ProstoOne';
  src: url('./fonts/ProstoOne-Regular.woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* 400 */
@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Regular.woff') format('woff'),
    url('./fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* 400 */
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts//Roboto-Bold.woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  /* font */
  --primary-font-Poppins: 'Poppins';
  --secondary-font-Inter: 'Inter';
  --third-font-Roboto: 'Roboto';
  --fourth-font-ProstoOne: 'ProstoOne';

  /* color */
  --white-color-FFFFFF: #ffffff;
  --black-color-000000:#000000
  --primary-font-color-151515: #151515;
  --secondary-font-color-181818: #181818;
  --btn-color-primary-656293: #656293;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--primary-font-color-151515);
  font-weight: 400;
  background-color: #ffffff;
  overflow-x: hidden;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 104px;
}
